
  ValueError

  Invalid export format: requirements

  at ~/.poetry/lib/poetry/console/commands/export.py:38 in handle
      34│     def handle(self):
      35│         fmt = self.option("format")
      36│ 
      37│         if fmt not in Exporter.ACCEPTED_FORMATS:
    → 38│             raise ValueError("Invalid export format: {}".format(fmt))
      39│ 
      40│         output = self.option("output")
      41│ 
      42│         locker = self.poetry.locker
